
@{
    ViewBag.Title = "ViewFeedback";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

<h2>ViewFeedback</h2>


<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>View Feedback</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li class="active">Admin</li>
                    <li class="active">ViewFeedback</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<div class="card border-danger">
    <div class="card-header bg-danger">
        <h3 class="text-white"><i class="fa fa-plus"></i> &nbsp; All Feedback List</h3>
    </div>
    <div class="card-body">
        <table id="MyTable" class="table table-bordered table-hover">
            <thead>
                <tr class="bg-dark text-white">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Messages</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/UserLayout/js/jquery-1.10.2.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/jquery.dataTables.min.css" />

<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#MyTable').dataTable({
            "ajax": {
                "url": "/Admin/jsonData",
                "type": "GET",
                "datatype": "json"
            },
            "columns": [
                { "data": "Name" },
                { "data": "Email" },
                { "data": "Subject" },
                { "data": "Message" }
            ]
        });
    });
</script>